# location: $HOME directory

# Respect default shortcuts.
$include /etc/inputrc

## arrow up
"\e[A":history-search-backward
## arrow down
"\e[B":history-search-forward

# zsh like completion:
set show-all-if-ambiguous on
set completion-ignore-case on
"\t": menu-complete
"\e[Z": menu-complete-backward
set colored-completion-prefix on
